@font-face {
	font-family: sarabun;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Sarabun/Sarabun-Regular.ttf');
}
@font-face {
	font-family: sarabun;
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/Sarabun/Sarabun-Italic.ttf');
}
@font-face {
	font-family: sarabun;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/Sarabun/Sarabun-Bold.ttf');
}
@font-face {
	font-family: sarabun;
	font-style: italic;
	font-weight: bold;
	src: url('/fonts/Sarabun/Sarabun-BoldItalic.ttf');
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
